[submodule "templates/keywords/image"]
	path = templates/keywords/image
	url = https://github.com/cob/customize.keywords.image.git
[submodule "templates/keywords/styleResults"]
	path = templates/keywords/styleResults
	url = git@github.com:cob/customize.keywords.styleResults.git
[submodule "templates/keywords/log"]
	path = templates/keywords/log
	url = git@github.com:cob/customize.keywords.log.git
[submodule "templates/keywords/calc"]
	path = templates/keywords/calc
	url = git@github.com:cob/customize.keywords.calc.git
[submodule "templates/keywords/audit"]
	path = templates/keywords/audit
	url = git@github.com:cob/customize.keywords.audit.git
[submodule "templates/frontend/common"]
	path = templates/frontend/common
	url = git@github.com:cob/customize.frontend.common.git
[submodule "templates/frontend/formatList/currency"]
	path = templates/frontend/formatList/currency
	url = git@github.com:cob/customize.frontend.formatList.currency.git
[submodule "templates/dashboards/dash"]
	path = templates/dashboards/dash
	url = git@github.com:cob/customize.dashboard.dash.git
[submodule "templates/keywords/kibana"]
	path = templates/keywords/kibana
	url = git@github.com:cob/customize.keywords.kibana.git
