.DS_Store
node_modules

#CoB cli
.test.in.execution
*.ENV__ORIGINAL_BACKUP__.*
*.ENV__DELETE__.*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
