[submodule "templates/keywords/image"]
	path = templates/keywords/image
	url = https://github.com/cob/customize.keywords.image.git
[submodule "templates/keywords/styleResults"]
	path = templates/keywords/styleResults
	url = git@github.com:cob/customize.keywords.styleResults.git
[submodule "templates/keywords/log"]
	path = templates/keywords/log
	url = git@github.com:cob/customize.keywords.log.git
[submodule "templates/keywords/calc"]
	path = templates/keywords/calc
	url = git@github.com:cob/customize.keywords.calc.git
