/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body 
  font-family: "Source Sans Pro", "Helvetica Neue", "Arial", "sans-serif";
  font-size 1.2em
  padding-bottom: 2em;

.sidebar-heading,
.active sidebar-link
  font-size 1.2em

h1 
  color #3a87ad
  
.home .hero img
  max-width 450px!important

.site-name.can-hide
    display: none

span.title, 
.navbar span, 
.nav-link 
  font-size 1.2em
  font-weight 600

.theme-container.custom-page-class {
    background: black;
    .theme-default-content {
      color: white
    }
    img {
      align: "center"
    }
}
