<script src="https://cdn.jsdelivr.net/gh/cob/rest-api-wrapper@v2/dist/rest-api-wrapper.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cob/dashboard-info@v2/dist/dashboard-info.js"></script>

<div style="text-align:center">
    <h1 class=> 
        Welcome  

        <span id="userInfo"> </span>
    </h1>
    <p> (your domain 1 has <span id="domainCount"></span> instances) </p>
</div>

<script >
    const updateElement = (elemId) => (newInfo) => document.getElementById(elemId).innerHTML = newInfo.value
    
    cobRestApiWrapper.umLoggedin().then( userInfo => updateElement("userInfo")( { value: userInfo.username }) )
    cobDashboardInfo.domainCount(1, "*", { changeCB: updateElement("domainCount") })
</script>