/* Font color Classes */
.DimRed a,
.DimGreen a,
.DimBlue a {
  color:#a7c7d7;
}
.DimRed {
  color:#fbb;
}
.DimGreen {
  color:#9c9;
}
.DimBlue {
  color:rgb(191, 200, 243);
}
.DimOrange {
  color:rgb(255, 222, 187);
}
.DimGray {
  color:#bebebe;
}
.Red {
	color: red
}
.Green {
	color:green;
}
.Blue {
	color:blue
}
.Orange {
	color:orange;
}
.Gray {
  color:gray;
}


/* Background Color Classes */
.BgRed {
	background-color: red;
}
.BgGreen {
	background-color: green;
}
.BgBlue{
	background-color: blue;
}
.BgOrange{
	background-color: orange;
}
.BgGray {
  background-color:gray;
}
.BgDimRed {
  background-color:lightpink;
}
.BgDimGreen {
  background-color:#C1FA77;
}
.BgDimBlue {
	background-color:#def4f9;
}
.BgDimOrange {
	background-color:#FFE0D2;
}
.BgDimGray {
	background-color:#bebebe;
}


.BgRed,
.BgGreen,
.BgBlue, 
.BgOrange,
.BgGray {
  color: white;
  text-align: center;
} 
.BgDimRed,
.BgDimGreen,
.BgDimBlue, 
.BgDimOrange,
.BgDimGray {
	text-align: center;
}
