/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// colors
$accentColor = #e20042
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #282c34
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$contentWidth = 50em