/* Overall good practive - not column related but specialy relevant inside columns */
li.custom-dualColumn ol.fields > li > table > tbody > tr > td:nth-child(1) {
  min-width: 70px;
}
li.custom-dualColumn ol.fields > li > table > tbody > tr > td:nth-child(2) {
  min-width: 160px;
}
li.custom-dualColumn ol.fields  li > table > tbody > tr > td:nth-child(3),
li.custom-dualColumn ol.fields  li > table > tbody > tr > td:nth-child(3) input {
  max-width: 230px !important;
  width: -webkit-fill-available;
}
  
/* $style[dualColumn] */
li.custom-dualColumn > ol.fields{
  display: flex;
  flex-wrap: wrap;
}
li.custom-dualColumn > ol.fields > li  {
  flex-basis:49%;
}
li.custom-dualColumn  ol.fields > li > table > tbody > tr > td:nth-child(3) {
  width: unset;
}
li.custom-dualColumn  ol.fields > li > table > tbody > tr > td:nth-child(4) {
  display: none;
}

/* $style[singleColumn] */
li.custom-dualColumn > ol.fields > li.custom-singleColumn  {
  flex-basis:100%;
}

/* $style[column] */
li.custom-column > table {
  display: none
}
.cob-app .instance-detail-container div.instance-container li.custom-column > ol.fields {
  border:none;
  background-color: unset;
  margin:unset;
}
.cob-app .instance-detail-container .instance-container .fields-container li.custom-column.field-group {
  margin:unset;
  padding: unset;
}